*.class

*.log

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.maven.metadata.xml

.idea/
.vscode/
*.iml
*.iws
*.ipr
*.swp
*.swo
*~
.DS_Store

# Spring Boot
application-*.yml
application-*.properties

build/
out/

.DS_Store
Thumbs.db
